*,
*:before,
*:after,
*:first-letter,
p:first-line,
div:first-line,
blockquote:first-line,
li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

p {
    page-break-inside: avoid;
}

.settings {
    display: none;
}

// HEADER -------------------------------------------

.header {
    &__image {
        display: none;
    }

    .section {
        &__content {
            padding-top: 0;
        }
    }

    .contacts {
        border-top: 1px solid #ececec;
        &__item {
            &:not(:last-of-type) {
                margin-bottom: 0;
            }
        }
    }

    .socials {
        margin-top: 35px;
    }

    .qrcode {
        display: block;
        position: absolute;
        right: 0;
        top: 0;

        svg {
            //transform: scale(0.6);
            transform: scale(0.6) translate(0, -30px);
        }
    }
}

// SOCIALS -------------------------------------------

.socials {
    &__item {

    }
    &__link {
        border: none;
        &[href]:after {
            content: " (" attr(href) ")";
        }

        svg {
            margin: 0 auto 10px;
        }
    }
}

// CONTACTS -------------------------------------------

.contacts {
    &__list {
        display: block;
        font-size: 0;
    }
    &__item {
        font-size: 1rem;
        display: inline-block;
        width: 30%;
        text-align: center;
        &:nth-of-type(2) {
            margin: 0 5%;
        }
    }
}

// EXPERIENCE -------------------------------------------

.experience,
.education {
    &__item {
        &:before {
            background-color: #ececec !important;
            border: none !important;
            border: 2px solid #ececec !important;
            //border: 2px solid #ececec;
            left: -33px;
        }
    }
}

// EXPERTISE -------------------------------------------

.expertise {
    .skills {
        &__item {
            &:before {
                display: none;
            }
        }
    }
}

// PORTFOLIO -------------------------------------------

.portfolio {
    &__list {
        display: block;
    }
    &__item {
        position: relative;
        display: inline-table;
        vertical-align: top;
        width: 45%;
        &:nth-of-type(even) {
            margin-left: 5%;
        }
    }
    &__icon,
    &__content {
        display: inline-block;
        vertical-align: top;
    }
    &__icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    &__content {
        margin-left: 40px;
    }
}

// EDUCATION -------------------------------------------

// COUNTER -------------------------------------------

.counter {
    display: block;
    &__item {
        position: relative;
        display: inline-table;
        vertical-align: top;
        width: 45%;
        &:nth-of-type(even) {
            margin-left: 5%;
        }
    }
    &__digits,
    &__content {
        display: inline-block;
        vertical-align: top;
    }
    &__digits {
        position: absolute;
        left: 0;
        top: 0;
    }
    &__content {
        margin-left: 40px;
    }
}

// FOOTER -------------------------------------------

.footer {
    display: none;
}

// PROJECT -------------------------------------------

.project {
    &-header {

        .section {
            &__left {
                border: none !important;
                .section {
                    &__content {
                        display: none;
                    }
                }
            }
        }
    }

    &-links {
        &__description {
            a {
                display: inline-block;
                &[href]:after {
                    content: " (" attr(href) ")";
                    text-transform: initial !important;
                }
            }
        }
    }
}
