.contacts {

    .section {
        &__title {
            display: none;
        }
    }

    &__item {
        list-style-type: none;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    &__link {
        display: inline-block;
        color: $color-text-primary;
        @include transition(color);

        &:hover,
        &:focus,
        &:active {
            color: $color-link-hover;

            .contacts {

                &__image {
                    path {
                        fill: $color-link-hover;
                    }
                }
            }
        }
    }

    &__image {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        svg {
            width: 20px;
            height: 20px;

            path {
                fill: $color-text-primary;
                @include transition(fill);
            }
        }
    }

    &__title {
        display: inline-block;
        vertical-align: middle;
    }
}



@media screen and (max-width: $landscape-phone) {
    .contacts {
        padding-top: 30px;
        border-top: 2px solid #e0e0e0;

        .section {
            &__title {
                display: block;
            }
        }

        &__list {
            margin-top: 20px;
            margin-top: 20px;
            
        }
    }
}
