.courses {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -30px;
    }

    &__item {
        width: 48%;
        list-style-type: none;
        padding-top: 5px;
        margin-bottom: 30px;
    }

    &__date {
        margin-bottom: 10px;
        opacity: .6;
        font-size: 0.85rem;
    }

    &__company {
        margin-bottom: 10px;
    }
}



@media (max-width: $landscape-phone) {
    .courses {

        &__item {
            width: 100%;
        }
    }
}
