.education {
    &__item {
        list-style-type: none;
        position: relative;

        &:not(:last-of-type) {
            margin-bottom: 30px;
        }

        &:before {
            content: '';
            position: absolute;
            left: -41px;
            top: 0;
            width: 10px;
            height: 10px;
            background-color: $color-accent-primary;
            border-radius: 50%;
            transform: translate(0, -9px);
        }
    }

    &__date {
        margin-bottom: 10px;
        opacity: .6;
        font-size: 0.85rem;
    }

    &__name {
        margin-bottom: 10px;
    }

    &__area {
        margin-bottom: 10px;
        color: $color-header-primary;
    }

    &__info {
        margin-bottom: 10px;
        color: $color-header-primary;
    }

    &.section {
        &:nth-of-type(odd) {
            .education {
                &__item {
                    &:before {
                        border: 10px solid #ffffff;
                    }
                }
            }
        }

        &:nth-of-type(even) {
            .education {
                &__item {
                    &:before {
                        border: 10px solid #fbfbfb;
                    }
                }
            }
        }
    }
}



// THEME DARK

body {
    &.dark-theme {

        .education {

            &__info,
            &__area {
                color: $color-header-secondary;
            }

            &.section {

                &:nth-of-type(odd) {
                    .education {
                        &__item {
                            &:before {
                                background-color: $color-accent-secondary;
                                border: 10px solid #2d2e2e;
                            }
                        }
                    }
                }

                &:nth-of-type(even) {
                    .education {
                        &__item {
                            &:before {
                                background-color: $color-accent-secondary;
                                border: 10px solid #2b2c2c;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (max-width: $tablet) {
    .experience {

        &.section {

            &:nth-of-type(odd) {
                .experience {
                    &__item {
                        &:before {
                            border: 10px solid #ffffff;
                        }
                    }
                }
            }

            &:nth-of-type(even) {
                .experience {
                    &__item {
                        &:before {
                            border: 10px solid #ffffff;
                        }
                    }
                }
            }
        }
    }
}
