.education {

    &__item {
        list-style-type: none;

        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    &__name {
        margin-bottom: 10px;
    }

    &__info {
        margin-bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
    }
}
