.education {

    &__item {
        list-style-type: none;

        p {
            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }

        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    &__date {
        display: block;
        margin-top: 10px;
    }
}
