.expertise {

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
    }

    &__item {
        display: flex;
        width: calc(50% - 10px);
        margin-bottom: 30px;
        line-height: 1.7;

        &:nth-of-type(even) {
            margin-left: 20px;
        }
    }

    &__counter {
        width: 40px;
        font-size: 1.143rem;
        font-weight: 700;
        color: $color-accent-primary;
    }

    &__content {
        width: calc(100% - 40px);
    }

    &__title {
        margin-bottom: 10px;
    }
}

.skills {

    &__item {
        list-style-type: none;

        &:before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: $color-accent-primary;
            vertical-align: middle;
        }
    }
}



// THEME DARK

body {
    &.dark-theme {

        .expertise {

            &__counter {
                color: $color-accent-secondary;
            }
        }

        .skills {
            &__item {
                &:before {
                    background-color: $color-accent-secondary;
                }
            }
        }
    }
}



@media (max-width: $landscape-phone) {
    .expertise {
        flex-direction: column;

        &__item {
            width: 100%;

            &:nth-of-type(even) {
                margin-left: 0;
            }
        }
    }
}
