.portfolio {

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
    }

    &__item {
        display: flex;
        width: calc(50% - 10px);
        margin-bottom: 30px;
        list-style-type: none;

        &:nth-of-type(even) {
            margin-left: 20px;
        }
    }

    &__icon {
        width: 40px;

        svg {
            width: 20px;
            height: 20px;

            path {
                fill: $color-accent-primary;
            }
        }
    }

    &__content {
        width: calc(100% - 40px);
    }

    &__title {
        @include transition(color);

        &:hover,
        &:focus,
        &:active {
            color: $color-accent-primary;
        }
    }

    &__excerpt {
        margin-top: 10px;
    }
}



// THEME DARK

body {
    &.dark-theme {

        .portfolio {

            &__icon {

                svg {

                    path {
                        fill: $color-accent-secondary;
                    }
                }
            }

            &__title {

                &:hover,
                &:focus,
                &:active {
                    color: $color-accent-secondary;
                }
            }
        }
    }
}



@media (max-width: $portrait-phone) {
    .portfolio {
        &__list {
            flex-direction: column;
        }

        &__item {
            width: 100%;

            &:nth-of-type(even) {
                margin-left: 0;
            }
        }
    }
}
