.profile {

    .section {

        &__right {

            .section {

                &__content {
                    font-size: 1.214rem;
                    line-height: 1.7;

                    p {

                        &:not(:last-of-type) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
