.project-header {

    .section {

        &__right {

            .section {

                &__title {
                    font-size: 2.143rem;
                }
            }
        }
    }
}

.back {
    display: block;

    svg {
        width: 30px;
        height: 30px;
        @include transition(transform);

        path {
            fill: $color-text-primary;
        }
    }

    &:hover,
    &:focus,
    &:active {

        svg {
            transform: translate(-10px, 0);
        }
    }
}



// THEME DARK

body {
    &.dark-theme {

        .back {

            svg {

                path {
                    fill: $color-text-secondary;
                }
            }
        }
    }
}



@media (max-width: $tablet) {
    .back {

        &:hover,
        &:focus,
        &:active {

            svg {
                transform: unset;
            }
        }
    }
}

@media (max-width: $portrait-phone) {
    .project-header {

        .section {

            &__right {

                .section {

                    &__title {
                        font-size: 1.429rem;
                    }
                }
            }
        }
    }
}
