.project-tools {

    &__item {
        font-size: 1.143rem;
        line-height: 1.7;
        list-style-type: none;

        &:before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: $color-accent-primary;
            vertical-align: middle;
        }
    }
}



// THEME DARK

body {
    &.dark-theme {

        .project-tools {

            &__item {
                &:before {
                    background-color: $color-accent-secondary;
                }
            }
        }
    }
}
