.publications {

    &__item {

        p {
            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }
    }

    &__link {
        display: block;
        margin-bottom: 10px;
        @include transition(color);

        &:hover,
        &:focus,
        &:active {
            color: $color-accent-primary;
        }
    }

    &__title-original {
       font-size: 12px;
    }
}

// THEME DARK

body {
    &.dark-theme {

        .publications {

            &__link {

                &:hover,
                &:focus,
                &:active {
                    color: $color-accent-secondary;
                }
            }
        }
    }
}
