*,
*:before,
*:after,
*:first-letter,
p:first-line,
div:first-line,
blockquote:first-line,
li:first-line {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.settings {
  display: none;
}

.header .contacts__item:not(:last-of-type) {
  margin-bottom: 0;
}

.header .qrcode {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.header .qrcode svg {
  transform: scale(0.7);
}

.socials__link {
  border: none;
}

.socials__link[href]:after {
  content: " (" attr(href) ")";
}

.socials__link svg {
  margin: 0 auto 10px;
}

.contacts__list {
  display: block;
  font-size: 0;
}

.contacts__item {
  font-size: 1rem;
  display: inline-block;
  width: 30%;
}

.contacts__item:nth-of-type(2) {
  margin: 0 5%;
}

.experience__item:before,
.education__item:before {
  background-color: #ececec !important;
}

.footer {
  display: none;
}

