// Lato
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/latolight.woff2') format('woff2'),
        url('/fonts/Lato/latolight.woff') format('woff'),
        url('/fonts/Lato/latolight.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/latoregular.woff2') format('woff2'),
        url('/fonts/Lato/latoregular.woff') format('woff'),
        url('/fonts/Lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/latobold.woff2') format('woff2'),
        url('/fonts/Lato/latobold.woff') format('woff'),
        url('/fonts/Lato/latobold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
