@import './variables';
@import './mixins';
@import './fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font: 400 1rem/1.2 $font-main;
    background-color: $color-background-primary;
    color: $color-text-primary;
}

a,
button,
input {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1276px;
    margin: 0 auto;
}

.section {
    &__container {
        display: flex;
    }

    &__left {
        width: 30%;
        text-align: right;
    }

    &__right {
        width: 70%;
    }

    &__content {
        width: 100%;
        padding: 50px;
    }
}



// THEME DARK

body {
    &.dark-theme {
        background-color: $color-background-secondary;
        color: $color-text-secondary;
    }
}



@media (max-width: $tablet) {
    .section {
        &__container {
            flex-direction: column;
        }

        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;
        }

        &__content {
            padding: 30px;
        }
    }
}

@media (max-width: $portrait-phone) {
    .container {
        padding: 0 5px;
    }

    .section {
        &__content {
            padding: 10px;
        }
    }
}
