@import './variables';
@import './mixins';
@import './fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 400 16px/1 $font-primary;
    overflow-x: hidden;
    background: #e0e0e0;
    background: linear-gradient(120deg, #e0e0e0 50%, #bbc6c7 50%);
}

a,
button,
input {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

.main {
    padding: 120px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {

    &__title {
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    &__content {
        margin-top: 20px;
    }
}
