// COLORS

// light theme
$color-background-primary: #fff;
$color-text-primary: #939393;
$color-header-primary: #727272;
$color-accent-primary: #F8BB10;
$color-line-divider-primary: #ececec;
$color-buttons-primary: #ededed;

// dark theme
$color-background-secondary: #2d2e2e;
$color-text-secondary: #979899;
$color-header-secondary: #a4a5a6;
$color-accent-secondary: #e0a80d;
$color-line-divider-secondary: #404242;
$color-buttons-secondary: #3f4040;

// common
$color-link: #F8BB10;

// FONTS
$font-main: 'Lato', Arial, sans-serif;

// HOVER

// light theme
$color-link-primary-hover: #e0a707;

// dark theme
$color-link-secondary-hover: #fefaee;

// MEDIA QUERIES
$desktop: 1280px;
$tablet: 992px;
$landscape-phone: 768px;
$portrait-phone: 576px;

//OTHER

// light theme
$box-shadow-primary: 0px 10px 25px 0 #e2e2e2;

// dark theme
$box-shadow-secondary: 0px 10px 25px 0 #4a4a4a;


////COLORS
//$color-background-main: #ededed;
//$color-substrate: #f3d1c7;
//$color-split: #e0e0e0;
//
//$color-text-primary: #000000;
//$color-link: #CD5C5C;
//
////FONTS
//$font-primary: 'Roboto', Arial, sans-serif;
//$font-secondary: 'Cormorant Garamond', Arial, sans-serif;
//
////HOVER
//$color-link-hover: darken($color-link, 15%);
//
////MEDIA QUERIES
//$desktop: 1280px;
//$tablet: 992px;
//$landscape-phone: 768px;
//$portrait-phone: 576px;

//OTHER
//$border-radius: 3px;
//$box-shadow: 0px 4px 24px $color-border;
//$box-shadow: 0px 10px 25px 0 $color-border;
