.background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }
}

.section {
    position: relative;

    &:nth-child(even) {

        .background {
            &--left {
                background-color: #f8f8f8;
            }
            &--right {
                background-color: #fbfbfb;
            }
        }

        .section {
            &__left {
                background-color: #f8f8f8;
            }

            &__right {
                background-color: #fbfbfb;
            }
        }

    }

    &:nth-child(odd) {

        .background {
            &--left {
                background-color: #fcfcfc;
            }
            &--right {
                background-color: #ffffff;
            }
        }

        .section {
            &__left {
                background-color: #fcfcfc;
            }

            &__right {
                background-color: #ffffff;
            }
        }
    }
}



// THEME DARK

body {
    &.dark-theme {

        .section {

            &:nth-child(odd) {

                .background {
                    &--left {
                        background-color: #2b2c2c;
                    }
                    &--right {
                        background-color: #2d2e2e;
                    }
                }

                .section {
                    &__left {
                        background-color: #2b2c2c;
                    }

                    &__right {
                        background-color: #2d2e2e;
                    }
                }
            }

            &:nth-child(even) {

                .background {
                    &--left {
                        background-color: #292a2a;
                    }
                    &--right {
                        background-color: #2b2c2c;
                    }
                }

                .section {
                    &__left {
                        background-color: #292a2a;
                    }

                    &__right {
                        background-color: #2b2c2c;
                    }
                }
            }
        }
    }
}



@media (max-width: $tablet) {
    .section {

        &:nth-of-type(even) {

            .section {
                &__left {
                    background-color: #fafafa;
                    border-top: 1px solid $color-line-divider-primary;
                    border-bottom: 1px solid $color-line-divider-primary;
                }
                &__right {
                    background-color: $color-background-primary;
                }
            }
        }

        &:nth-of-type(odd) {

            .section {
                &__left {
                    background-color: #fafafa;
                    border-top: 1px solid $color-line-divider-primary;
                    border-bottom: 1px solid $color-line-divider-primary;
                }
                &__right {
                    background-color: $color-background-primary;
                }
            }
        }
    }



    // THEME DARK

    body {
        &.dark-theme {

            .section {

                &:nth-of-type(odd) {

                    .section {
                        &__left {
                            background-color: #292a2a;
                            border-top: 1px solid $color-line-divider-secondary;
                            border-bottom: 1px solid $color-line-divider-secondary;
                        }
                        &__right {
                            background-color: $color-background-secondary;
                        }
                    }
                }

                &:nth-of-type(even) {

                    .section {
                        &__left {
                            background-color: #282929;
                            border-top: 1px solid $color-line-divider-secondary;
                            border-bottom: 1px solid $color-line-divider-secondary;
                        }
                        &__right {
                            background-color: $color-background-secondary;
                        }
                    }
                }
            }
        }
    }
}
