.main {
    &__title {
        font-size: 4.857rem;
        font-weight: 700;
        line-height: 1;
        color: $color-accent-primary;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 4.857rem;
        font-weight: 300;
        line-height: 1;
        text-transform: lowercase;
        margin-bottom: 5px;
    }
}

.contact {

    .main {

        &__subtitle {
            margin-top: 50px;
            font-size: 3.786rem;
        }

        &__title {
            font-size: 3.786rem;
        }
    }
}



// THEME DARK

body {
    &.dark-theme {

        .main {

            &__title {
                color: $color-accent-secondary;
            }
        }
    }
}



@media (max-width: $tablet) {
    .contact .main,
    .main {

        &__title {
            font-size: 2.625rem;
        }

        &__subtitle {
            font-size: 2.625rem;
        }
    }
}

@media (max-width: $portrait-phone) {
    .contact .main,
    .main {

        &__title {
            font-size: 2rem;
        }

        &__subtitle {
            font-size: 2rem;
        }
    }
}
